
# Google Cloud project ID
gcp_project_id = "my-gcp-project-id"

# BigQuery dataset for storing sensor data
dataset_id = "sunlight_data"

# Region for deployment
region = "us-central1"

# Web app domain name
sunlight_app_domain_name = "sunlight.example.com"

# API for sensors to send data
sensor_target_api_domain_name = "sensors.example.com"

# Initial configuration for sensors
sensor_metadata_filename = "sensor_metadata.json"
sensor_set_metadata_filename = "sensor_set_metadata.json"

# Monitoring and alerting configuration
alert_email_address = "lucy@example.com"
alert_phone_number = "+1234567890"

# GitHub repository account or organization
github_org = "kden"

# GitHub repository name
github_repo = "sunlight_sensor_gcp"

astra_token="AstraCS:xxxxx"

